{% extends 'core/base.html'%}
{% load static %}
{% block js %}
{% endblock %}
{% block css %}
{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}
<br>
<br>
<br>

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form action="" class="" method="post" >
                    <br>
                    <h2>cursos</h2>
                    
                    {% csrf_token %}
                    {{ forcur | crispy }}
                    <br>
                <div class="d-flex justify-content-center">
                    <input type="reset" value="Cancelar" class="btn btn-secondary">
                    &nbsp; &nbsp; &nbsp;
                    <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                </div>               
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                {% if messages %}
                    {% for m in messages%}
                        <script>
                            swal.fire({
                                "title": "Felicitaciones",
                                "text": "{{m}}",
                                "icon": "success"
                            })
                        </script>
                    {% endfor %}
                {% endif %}
                
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}



<!-- pie de pagina-->
<footer>
    <div class="pie-pagina">
        <p>Web-NEE estudiantes Duoc Uc</p>
    </div>
</footer>
<script src="dist/js/lightbox-plus-jquery.min.js"></script>

</body>

</html>
