{% extends 'core/base.html'%}
{% load static %}
{% block js %}
{% endblock %}
{% block css %}
{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}
<script>
    function eliminar_Apoderado(id_apoderado){
        Swal.fire({
            "title":"¿Estas Seguro?",
            "text":"Se eliminara esto y esto",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, Eliminar"
        })
        .then(function(result) {
            if(result.isConfirmed) {
                window.location.href = "/eliminar_Apoderado/"+id_apoderado
            }
        })
    }  
</script>
<br>
<br>
<br>
<div class="col-12 col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <h2> Listado Apoderados  </h2>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Nombres </th>
                    <th>Apellidos</th>
                    <th>celular</th>
                    <th>Opciones</th>
                </tr>

                {% for p in apoderado %}
                <tr>
                    <td>{{p.nombre_apoderado | title }}</td>
                    <td>{{p.apellido_apoderado}}</td>
                    <td>+56{{p.celular}}</td>
                    <td>
                        <a href="{% url 'modificar_Apoderado' p.id_apoderado %}" class="btn btn-info btn-sm">Modificar</a> 
                   </td>
                   <td>
                        <a href="#" onclick="eliminar_Apoderado({{p.id_apoderado}})" class="btn btn-danger btn-sm">Eliminar</a> 
                  </td>

                {% endfor %}
                
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                {% if messages %}
                    {% for m in messages%}
                        <script>
                            Swal.fire({
                                "title": "Felicitaciones",
                                "text": "{{m}}",
                                "icon": "success"
                            })
                        </script>
                    {% endfor %}
                {% endif %}
                </tr>

                 
            </table>

        </div>
    </div>
</div>

{% endblock %}



<!-- pie de pagina-->
<footer>
    <div class="pie-pagina">
        <p>Web-NEE estudiantes Duoc Uc</p>
    </div>
</footer>
<script src="dist/js/lightbox-plus-jquery.min.js"></script>

</body>

</html>